@import "tailwindcss";

@theme {
  --font-display: "Manrope", sans-serif;
  --color-primary: #a51d1d;
  --color-accent-gold: #d4af37;
  --color-background-light: #f8f6f6;
  --color-background-dark: #201212;
}

@layer base {
  body {
    @apply font-display text-slate-900 bg-background-light;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
